<launch>
  <!-- Start gmapping -->
  <node name="gmapping" pkg="gmapping" type="slam_gmapping">
    <remap from="scan" to="hsrb/base_scan"/>
    <param name="xmin" value="-5"/>
    <param name="xmax" value="5"/>
    <param name="ymin" value="-5"/>
    <param name="ymax" value="5"/>
  </node>
</launch>
